*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(230, 227, 219);
    
}
h1{
    text-align: center;
}
.loader{
    height: 400px;
    width: 400px;
    border: 40px solid rgb(212, 199, 199);
    border-top:40px solid #4ecdc4 ;
    border-bottom: 40px solid rgb(97, 92, 160);
    border-radius: 50%;
    animation:spinAnimate 2s ease-in 1s infinite normal;

}
@keyframes spinAnimate{
    from{
        transform: rotate(odeg);

    }
    to{
        transform: rotate(360deg);
    }

}
.outer1{
    flex-direction: row;
    display: flex;
    position: absolute;
    right: 500px;
    top: 100px;
}
